service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
      function isSameGoogleUser() {
        return request.auth.token.firebase.identities["google.com"][0] == userID;
      }

      allow read: if true;
      allow write: if true;

			match /events/{eventID} {
      	allow read: if isSameGoogleUser();
        allow write: if false;
      }

      match /aggregates/{week} {
      	allow read: if isSameGoogleUser();
        allow write: if false;
      }
    }
  }
}
